@font-face {
  font-family: 'SentyGoldenBell';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/gh/Langwenchong/cdn/font/SentyGoldenBell.woff2) format('woff2');
}

// 字体
@font-face {
  font-family: 'hytmr';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/gh/Langwenchong/cdn/font/hytmr55.woff) format('woff');
}

